<h2 class="font-semibold text-xl">TTC</h2>
<%= for alert <- @ttc_alerts do %>
  <div class="my-2">
    <h3 class="font-semibold"><%= alert.route %> - <%= alert.route_type %></h3>
    <p><%= alert.title %></p>
    <p>
      Last Updated: <span class="italic"><%= format_last_updated(alert.last_updated) %></span>
    </p>
  </div>
<% end %>

<h2 class="font-semibold text-xl">UP Express</h2>
<%= for alert <- @up_alerts do %>
  <div class="my-2">
    <%= alert %>
  </div>
<% end %>
